<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Virtual Markets UI</title>
</head>
<body>
<h1 layout:fragment="header">Brokers</h1>
<div layout:fragment="content" class="container">
    <div id="brokerOptions" class="panel panel-default">
        <div class="panel-heading">Options</div>
        <br/>
        <div><h2 align="center"><span class="label label-primary">Starting Virtual Markets UI...</span></h2></div>
        <div class="panel-body">
            <p>Some content for the Brokers body ......</p>
        </div>
    </div>
</div>
</body>
</html>